version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

  odoo:
    image: odoo:19.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./custom_addons:/mnt/custom_addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
      - DB=postgres
    command: odoo --addons-path=/usr/lib/python3/dist-packages/odoo/addons,/mnt/custom_addons

volumes:
  odoo-db-data:
